[Unit]
Description=Raspberrry temperature sensor agent
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=rtsa
Group=rtsa
EnvironmentFile=/opt/rtsa/config.env
WorkingDirectory=/opt/rtsa
ExecStart=/opt/rtsa/.venv/bin/python3 /opt/rtsa/main.py

[Install]
WantedBy=multi-user.target